<div class="flex flex-wrap md:flex-nowrap h-screen">
    <!-- Left side (Map) -->
    <div class="w-full md:w-1/2 h-1/2 md:h-full bg-gray-300 flex items-center justify-center">
        <div id="map" class="mx-auto mt-8 border-round-md" style="width: 95%; height: 500px;"></div>
    </div>
  
    <!-- Right side (Content & Table) -->
    <div class="w-full md:w-1/2 h-1/2 md:h-full p-4">
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula euismod risus, eu suscipit est fermentum ut.
      </p>
  
      <!-- Running Data Table -->
      <div class="overflow-x-auto">
        <table class="w-full border border-gray-300">
          <thead>
            <tr class="bg-gray-200">
              <th class="p-2 border">Date</th>
              <th class="p-2 border">Distance (km)</th>
              <th class="p-2 border">Time</th>
              <th class="p-2 border">Pace (min/km)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-2 border">2024-02-15</td>
              <td class="p-2 border">10.5</td>
              <td class="p-2 border">50:30</td>
              <td class="p-2 border">4:48</td>
            </tr>
            <tr>
              <td class="p-2 border">2024-02-14</td>
              <td class="p-2 border">7.2</td>
              <td class="p-2 border">35:10</td>
              <td class="p-2 border">4:53</td>
            </tr>
            <tr>
              <td class="p-2 border">2024-02-13</td>
              <td class="p-2 border">12.8</td>
              <td class="p-2 border">1:02:45</td>
              <td class="p-2 border">4:54</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  


