<!-- <p>map-detail works!</p>
<div id="sample" style="height: 500px; width: 100%;"></div> -->



<!-- map-detail.component.html -->
<div id="map" style="width: 100%; height: 500px;"></div>




<!--<p>map-detail works!</p>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    function leadMap() {
        var parameters = {
            center: new google.maps.LatLng(53, -6), zoom:8,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            disableDefaultUI: true
        }

        var map = new google.maps.Map(document.getElementById("sample"), parameters);

        var tour = new google.maps.Polyliune({
            path: [
                new google.maps.LatLng(-53, -6),
                new google.maps.LatLng(-53.6, -6.3),
                new google.maps.LatLng(-53.6, -6.8),
            ],
            trokeColor: "#FF0000",
            strokeOpacity: 0.6,
            strokeWeight: 2
        });

        tour.setMap(map);
    }
</script> -->