body{
    background: rgb(252,82,0);
    background: linear-gradient(37deg, rgba(252,82,0,1) 16%, rgba(200,200,200,0.2637429971988795) 100%);
}

.signup-container {
    background: rgb(252,82,0);
    background: linear-gradient(37deg, rgba(252,82,0,1) 16%, rgba(200,200,200,0.2637429971988795) 100%);
}

.signup-form {
    max-width: 600px; /* Adjust to control form width */
    background: rgba(255, 255, 255, 0);
}