<!-- signup.component.html -->
<div class="signup-container">
    <div class="signup-form">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="field mb-3">
                <label for="username" class="mb-2">Username:</label>
                <input pInputText id="username" formControlName="username" type="text" class="w-full h-2rem border-solid border-round border-blue-400" />
            </div>

            <div class="field mb-3">
                <label for="password" class="mb-2">Password:</label>
                <input pInputText id="password" formControlName="password" type="password" class="w-full h-2rem border-solid border-round border-blue-400" />
            </div>

            <button pButton type="submit" label="Signup" class="w-full"></button>
            <p><a routerLink="/login">Login</a></p>
        </form>
    </div>
</div>

<div class="mt-10">
    <app-bubbles></app-bubbles>
</div>
