
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <h2 style="margin-right: 5px;">FitMetrics</h2>
    </ng-template>
    <ng-template pTemplate="end">    
      <span class="switch-icon" style="display: inline-block; vertical-align: middle;">
        <i [class]="checked ? 'pi pi-sun' : 'pi pi-moon'"></i>
      </span>           
      <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
        <p-inputSwitch [(ngModel)]="checked" class="custom-switch" (onChange)="changeTheme(checked)"></p-inputSwitch>
      </div>
      <button type="button" (click)="logout()" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.5rem; display: inline-block; vertical-align: middle;"></button>      
    </ng-template>
</p-menubar>


<!-- <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Left Sidebar</h1>
  <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
  <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars"></p-button> -->
